<header>
      <div class="container container-nav">
      <h1 class="head-title"> Tech-ion</h1>
      <nav {{ currPage }}>
        <ul>
          <li><a href="/" class="curr-page">Home</a></li>
          <li><a href="/guides/">Posts</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </nav>
      </div>
</header>