
<article class="article-feat container">
      <p class="sac">this shouldnt be displayed</p>
        <h2 class="article-feat-title"><a class="article-feat-link" href="{{ Mainpost.url }}">{{ Mainpost.data.title }}</a></h2>
      <p class="feat-full-post full-post"><a href="{{ Mainpost.url }}" >continue reading</a></p>
</article>