{% for post in collections.recent %}
<section class="sidebar-recent-post">
  <a href="{{ post.url }}"><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" loading="lazy" /></a>
<p class="sidebar-body">
  {{post.data.title}}
</p>
</section>
{% endfor %}