{% for post in collections.recent %}
<section class="sidebar-recent-post">
  <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" loading="lazy" />
<p class="sidebar-body">
  {{post.data.title}}
</p>
</section>
{% endfor %}