---
title: Guides to help you
layout: 'base.njk'
currPage: curr-page-g
---
    <main>
    <div class="article-bottom container">
    <div class="article-recent-cont cont-wo-feat">
      {% for post in collections.post | reverse %}
      {% include 'articleSnip.njk' %}
      {% endfor %}
      </div>
      <div class="sidebar-cont post-sidebar-cont">
      <aside class="sidebar">
        <h3>Recent posts</h3>
        {% include 'sideSnip.njk' %}
      </aside>
      </div>
      </div>
    </main>