---
title: Main page 
layout: 'base.njk'
currPage: curr-page-h
---
    <main>
    <article class="article-feat container">
      <p class="sac">this shouldnt be displayed</p>
        <h2 class="article-feat-title">Termux a must have on your phone.</h2>
      <p class="feat-full-post full-post"><a href="#" >continue reading</a></p>
    </article>
    <div class="article-bottom container">
    <div class="article-recent-cont">
      {% for post in collections.featured | reverse %}
      {% include 'articleSnip.njk' %}
      {% endfor %}
      </div>
      <div class="sidebar-cont">
      <aside class="sidebar">
        <h3>Recent posts</h3>
        {% include 'sideSnip.njk' %}
      </aside>
      </div>
      </div>
    </main>