---
title: Main page 
layout: 'base.njk'
currPage: curr-page-h
---
    <main>
    {%- set Mainpost = collections.main | last  -%}
    {% include 'mainPageSnip.njk' %}
    <div class="article-bottom container">
    <div class="article-recent-cont">
      {% for post in collections.featured | reverse %}
      {% include 'articleSnip.njk' %}
      {% endfor %}
      </div>
      <div class="sidebar-cont">
      <aside class="sidebar">
        <h3>Recent posts</h3>
        {% include 'sideSnip.njk' %}
      </aside>
      </div>
      </div>
    </main>